html
  head
    title 
    script(src="https://www.gstatic.com/firebasejs/4.5.0/firebase.js")
    script(src="http://d3js.org/d3.v3.min.js")
    script(src="/js/jquery-3.2.1.min.js")
    script(src="build/js/app.js")
    link(rel="stylesheet" type="text/css" href="build/css/styles.css")
  body
    //- occupations form group
    p Select which occupations you are interested in:
      each val, index in [{'title': 'Computer support specialists', 'code': '151150'}, {'title': 'Computer programmers', 'code': '151131'}, {'title': 'Computer systems analysts', 'code': '151121'}, {'title': 'Database administrators', 'code': '151141'}, {'title': 'Computer hardware engineers', 'code': '172061'}, {'title': 'Computer network architects', 'code': '151143'}, {'title': 'Computer & information research scientists', 'code': '151111'}, {'title': 'Software developers, applications & systems software', 'code': '15113X'}, {'title': 'Computer control programmers and operators', 'code': '514010'} ]
        .checkbox-inline
          input.occupation(type='checkbox', name=val.title, value=val.code)
          label(for=val.title)=val.title
    .graph-selections
      .graph-selection#age  AGE
      .graph-selection#gender  GENDER
      .graph-selection#ethnicity  ETHNICITY
