button {
  font-size: 28.8px;
  color: $color-dark;
  box-shadow: 0 2px 5px fade-out(black, .5);
  background-color: $color-accent2;
  border-radius: 120px;
  width: 293px;
  height: 72px;
  &:hover {
    transition: box-shadow .3s ease-in-out;
    cursor: pointer;
    box-shadow: 10px 10px 20px fade-out(black, .7), inset 1px 1px 5px fade-out(white, .5);
    background-color: $color-links;
  }
  &:active {
    background-color: $color-accent2;
  }
}

.go {
  margin: 73px auto;
  display: block;
  @include respond-to ('small') {
    margin-top: 33px;
  }
}

.backToSearch {
  margin: 54px auto 0 auto;
  display: block;
  @include respond-to ('small') {
    margin-top: 33px;
  }
}
