

#chart-section {
  display: none;
  margin: 54px 76px;
  span {
    color: $color-accent1;
  }
}

#chart-container {
  max-width: 1300px;
  margin: 0 auto;
  h4 {
    font-size: 30px;
    text-align: center;
    margin: 30px 0;
  }
  > canvas:not(:first-of-type) {
    visibility: hidden;
    position: absolute;
    top: 0;
  }
}

#chartToggles {
  display: none;
}
