#chart-section {
  display: none;
  margin: 54px 76px;
}

.search-summary {
  span {
    color: $color-accent1;
  }
}

#chart-container {
  h4 {
    font-size: 30px;
    text-align: center;
    margin: 30px 0;
  }
  > canvas:not(:first-of-type) {
    visibility: hidden;
    position: absolute;
    top: 0;
  }
}

#chartToggles {
  display: none;
}
