footer {
  height: 50px;
  background-color: $color-dark;
  font-size: 18px;
  color: $color-light;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
