.graph-selections {
  margin:  38px auto 0 auto;
  display: flex;
  width: 80vw;
  justify-content: space-between;
  .graph-selection {
    width: 306px;
    text-align: center;
    h4 {
      margin-top: 36px;
    }
    &:hover {
      cursor: pointer;
      color: $color-links;
      > img {
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 5px #222);
      }
    }
  }
}
