.hero-bg {
  background-image: url('/assets/images/hero-img.jpg');
  background-position: bottom;
  background-size: 100%;
  height: 613px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 8px fade-out(black, .5);
  margin-bottom: 77px;
  .hero {
    height: 400px;
    width: 775px;
    background-color: fade-out($color-dark, .33);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    @include respond-to('medium') {
      width: 581.25;//25%
      height: 300px;
    }
    @include respond-to('medium') {
      width: 90%;
    }
    h2 {
      @include respond-to('x-small') {
        font-size: 2.2em;
        text-align: center;
      }
    }
    &::after {
      content: "";
      top: -15px;
      left: -15px;
      right: -15px;
      bottom: -15px;
      border: 2px solid $color-light;
      position: absolute;
    }
  }
}
