#resources-section {
  margin: 0 78px 78px 78px;
  display: none;
  h3 {
    margin-top: 78px;
  }
  p {
    margin-top: 15px;
    line-height: 20px;
    font-family: 'open sans thin';
  }
  @include respond-to ('x-small') {
    margin: 0 20px 50px 20px
  }
}
