//Open Sans
@font-face {
  font-family: 'open sans';
  src: url("/assets/fonts/open_sans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: 'open sans bold';
  src: url("/assets/fonts/open_sans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: 'open sans thin';
  src: url("/assets/fonts/open_sans/OpenSans-Light.ttf");
}

//Comfortaa
@font-face {
  font-family: 'comfortaa';
  src: url("/assets/fonts/Comfortaa/Comfortaa-Regular.ttf");
}
@font-face {
  font-family: 'comfortaa bold';
  src: url("/assets/fonts/Comfortaa/Comfortaa-Bold.ttf");
}

//Typography Guide
html {
  font-size: 100%;
  @include respond-to('small') {
    font-size: 80%;
  }
}

h1 {
  font-family: $font-secondary-bold;
  font-size: 4rem;
}

h2 {
  font-family: $font-secondary-bold;
  font-size: 3rem;
}

h3 {
  font-family: $font-secondary-bold;
  font-size: 2.375rem;
}

h4 {
  font-family: $font-secondary-bold;
  font-size: 2.25rem;
}

h5 {
  font-family: $font-primary-bold;
  font-size: 1.5rem;
}

p, label {
  font-size: 0.8125rem;
  @include respond-to('small') {
    font-size: 1.2rem;
  }
}
