// Breakpoint management

// example:
// @include respond-to("large") {
//   font-size: 25px;
// }

$breakpoints: (
  'x-small': (max-width: 515px),
  'small': (max-width: 660px),
  'medium': (max-width: 900px),
  'large': (max-width: 1100px),
  'x-large': (min-width: 1200px),
);

@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}
