$color-dark: #3C3B3B;
$color-light: #F1F1F1;
$color-bg: #6A6A6A;
$color-accent1: #FC784F;
$color-accent2: #EADA3D;
$color-links: #7EC2E3;

$font-primary: "open sans";
$font-primary-bold: "open sans bold";
$font-secondary: "comfortaa";
$font-secondary-bold: "comfortaa bold";
